*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:#323238;
    --bg-body-dark-mode: #121214;

    --bg-panel-white-mode:  #E1E1E6;
    --bg-panel-dark-mode:  #29292E;
    
    font-size: 62.5%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    color: var(--primary-color);
}

.dark-mode{
    position: absolute;
    top: 6rem;
    right: 6rem;
}

main{
    display: flex;
    flex-direction: row;
    gap: 19rem;   
}

.timer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span{
    font-family: 'Roboto', sans-serif;
    font-size: 12rem;
}

.controls{
    display: flex;
    gap: 4rem;

    margin-top: 2rem;
}

.controls button, .panel button, .btn-dark, .btn-white{
    background: none;
    border: none;

    cursor: pointer;
}

.btn-dark{
    display: none;
}

.btn-dark.dark{
    display: inline;
}

.btn-white.dark{
    display: none;
}

.panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.panel button{
    width: 13.8rem;
    height: 15rem;

    border-radius: 24px;

    background-color: var(--bg-panel-white-mode);
}

.panel button.dark{
    background-color: var(--bg-panel-dark-mode);
}

input{
    width: 100px;
    margin-top: 30px;
    background: red;
}

.btn.active, .btn.dark.active{
    background-color: #02799D;
    fill: #FFFFFF;
}

body.dark{
    background-color: var(--bg-body-dark-mode);
    color: #FFFFFF;
}

svg.dark{
    fill: #C4C4CC;
} 

