body{
    background: #2C2B3D;
    font-family: 'Open Sans', sans-serif;
    padding: 4.5rem 6rem;
}

nav{
    display: flex;
    justify-content: space-between;
}

menu{
    display: flex;
    gap: 64px;
    list-style: none;
    text-decoration: none;
    font-size: 14px;
    line-height: 28px;
}

li a{
    color: #FFFFFF;
    text-decoration: none;
}

main{
    display: flex;
    gap: 75px;
    margin-top: 100px;
}

h1, footer{
    font-family: 'JetBrains Mono', monospace;
    color: #FFFFFF;
}

h1{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 60px;
}

span{
    color: #00BFA6;
}

section p {
    color: #C2C2C2;
    text-align: center;
}

.line{
    width: 568px;
    border: 1px solid #00BFA6;
    margin: 0 auto 27px;
}

footer{
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 157px;
}

.cadeado{
    position: fixed;
    bottom: 10px;
    left: 10px;
}